.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;

  form {
    width: 80%;
    flex: 1;
    margin: 0 auto;

    .action {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .progress {
        margin-left: 10px;
      }
    }
  }
}
