@function luc-theme-alphas($theme) {
  $keys: map-keys($theme);
  $alphas: (15, 20, 25, 30, 50);
  $map: ();

  @each $key in $keys {
    @each $alpha in $alphas {
      $map: map-merge($map, (#{ $key + '-a' + $alpha }: rgba(map-get($theme, $key), $alpha / 100)));
    }
  }

  @return $map;
}

@function luc-theme-lighten($theme) {
  $keys: map-keys($theme);
  $values: (15, 20, 25, 30, 50);
  $map: ();

  @each $key in $keys {
    @each $value in $values {
      $map: map-merge($map, (#{ $key + '-l' + $value }: lighten(map-get($theme, $key), $value)));
    }
  }

  @return $map;
}

@function luc-theme-darken($theme) {
  $keys: map-keys($theme);
  $values: (15, 20, 25, 30, 50);
  $map: ();

  @each $key in $keys {
    @each $value in $values {
      $map: map-merge($map, (#{ $key + '-d' + $value }: darken(map-get($theme, $key), $value)));
    }
  }

  @return $map;
}

@mixin luc-theme($theme-colors) {
  $alphas: luc-theme-alphas($theme-colors);
  $lighten: luc-theme-lighten($theme-colors);
  $darken: luc-theme-darken($theme-colors);

  $theme: map-merge($theme-colors, $alphas);
  $theme: map-merge($theme, $lighten);
  $theme: map-merge($theme, $darken);

  @each $name, $color in $theme {
    --#{ $name }: #{ $color };
  }
}
