$luc-form-gutter-size: 10px;

.form {
  display: flex;
  flex-direction: column;

  .group {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $luc-form-gutter-size;
    }

    .control {
      &:not(:last-child) {
        margin-right: $luc-form-gutter-size;
        margin-bottom: 0px;
      }
    }
  }

  .control {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $luc-form-gutter-size;
    }
  }
}
