.host {
  display: flex;

  &.sm {
    img {
      height: 40px;
      width: 40px;
      border-radius: 3px;
    }
  }

  &.md {
    img {
      height: 80px;
      width: 80px;
      border-radius: 5px;
    }
  }

  &.lg {
    img {
      height: 100px;
      width: 100px;
      border-radius: 5px;
    }
  }
}
